<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>打赏页面</title>
</head>
<body>
<script src="/static/js/jquery.min.js"></script>

<button id="btn">打赏</button>

<script>

    var topic_id = '88127';
    post_data = {"topic_id":topic_id}

    $(function () {
        $('#btn').click(function () {
            $.ajax({
                url:"http://127.0.0.1:8000/payment/url",
                type:'post',
                contentType:"json",
                data:JSON.stringify(post_data),
                success:function(data){
                    window.location.href= data.pay_url
                }
            })
        })
    })



</script>

</body>
</html>